---
import { Picture } from 'astro:assets';
import imgAbout from '@images/img-b.png';

interface Props {
  services: string;
}

const {services} = Astro.props;
---

<!-- Approach -->
<div class="bg-(--color-deep-space-blue-900) dark:bg-(--color-deep-space-blue-800)">
  <!-- Approach -->
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20">
    <!-- Title -->
    <div class="mb-10 max-w-3xl lg:mb-14">
      <h2 class="text-3xl font-bold text-white lg:text-4xl dark:text-white">Our approach</h2>
      <p class="mt-3 text-neutral-300">
        Bisnis Anda bergantung pada teknologi – pastikan teknologi tersebut dirancang untuk berkinerja optimal. Kriya menyediakan layanan jasa {services} yang disesuaikan dengan kebutuhan Anda, dirancang untuk berkembang seiring permintaan dan memenuhi standar keamanan yang baik.
      </p>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div>
                {
          (
            <Picture
              src={imgAbout}
              alt="PT Alur Kriya Teknologi"
              class="w-full rounded-xl object-cover"
              draggable="false"
              decoding="async"
              loading="lazy"
              formats={['avif', 'webp']}
            />
          )
        }
      </div>
      <!-- End Col -->

      <!-- Timeline -->
      <div class="mt-10 sm:mt-10 lg:mt-0">
        <!-- Item -->
        <div class="ms-1 flex gap-x-5">
          <!-- Icon -->
          <div
            class="relative after:absolute after:start-4 after:top-8 after:bottom-0 after:w-px after:-translate-x-[0.5px] after:bg-(--color-steel-blue-500) last:after:hidden"
          >
            <div class="relative z-10 flex size-8 items-center justify-center">
              <span
                class="flex size-8 shrink-0 items-center justify-center rounded-full border border-(--color-steel-blue-500) text-xs font-semibold text-(--color-steel-blue-500)"
              >
                1
              </span>
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8 sm:pb-12">
            <p class="text-sm text-neutral-300 lg:text-base">
              <span class="text-white">Assesment:</span>
              Analisis kebutuhan bisnis dan kondisi sistem untuk mengidentifikasi risiko serta peluang
              pengembangan.
            </p>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="ms-1 flex gap-x-5">
          <!-- Icon -->
          <div
            class="relative after:absolute after:start-4 after:top-8 after:bottom-0 after:w-px after:-translate-x-[0.5px] after:bg-(--color-steel-blue-500) last:after:hidden"
          >
            <div class="relative z-10 flex size-8 items-center justify-center">
              <span
                class="flex size-8 shrink-0 items-center justify-center rounded-full border border-(--color-steel-blue-500) text-xs font-semibold text-(--color-steel-blue-500)"
              >
                2
              </span>
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8 sm:pb-12">
            <p class="text-sm text-neutral-300 lg:text-base">
              <span class="text-white">Planning:</span>
              Perencanaan solusi teknologi yang terstruktur dan selaras dengan tujuan bisnis yang kelanjutan.
            </p>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="ms-1 flex gap-x-5">
          <!-- Icon -->
          <div
            class="relative after:absolute after:start-4 after:top-8 after:bottom-0 after:w-px after:-translate-x-[0.5px] after:bg-(--color-steel-blue-500) last:after:hidden"
          >
            <div class="relative z-10 flex size-8 items-center justify-center">
              <span
                class="flex size-8 shrink-0 items-center justify-center rounded-full border border-(--color-steel-blue-500) text-xs font-semibold text-(--color-steel-blue-500)"
              >
                3
              </span>
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8 sm:pb-12">
            <p class="text-sm text-neutral-300 md:text-base">
              <span class="text-white">Implementation:</span>
              Implementasi solusi secara terkontrol dengan fokus pada kualitas, keamanan, dan stabilitas
              sitem.
            </p>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="ms-1 flex gap-x-5">
          <!-- Icon -->
          <div
            class="relative after:absolute after:start-4 after:top-8 after:bottom-0 after:w-px after:-translate-x-[0.5px] after:bg-(--color-steel-blue-500) last:after:hidden"
          >
            <div class="relative z-10 flex size-8 items-center justify-center">
              <span
                class="flex size-8 shrink-0 items-center justify-center rounded-full border border-(--color-steel-blue-500) text-xs font-semibold text-(--color-steel-blue-500)"
              >
                4
              </span>
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8 sm:pb-12">
            <p class="text-sm text-neutral-300 md:text-base">
              <span class="text-white">Optimization:</span>
              Memastikan performa sistem tetap optimal, aman, dan siap mendukung pertumbuhan bisnis jangka
              panjang.
            </p>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <a
          class="group inline-flex items-center gap-x-2 rounded-full bg-(--color-steel-blue-500) px-3 py-2 text-sm font-medium text-white focus:outline-hidden"
          href="#"
        >
          <svg
            class="size-4 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path
              d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
            ></path><path
              class="opacity-0 transition group-hover:opacity-100 group-hover:delay-100 group-focus:opacity-100"
              d="M14.05 2a9 9 0 0 1 8 7.94"></path><path
              class="opacity-0 transition group-hover:opacity-100 group-focus:opacity-100"
              d="M14.05 6A5 5 0 0 1 18 10"></path></svg
          >
          Schedule an Online Meeting
        </a>
      </div>
      <!-- End Timeline -->
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End Approach -->
