{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.astro", "*.md", "*.toml", "*.yml"],
      "options": {
        "parser": "astro",
        "useTabs": false
      }
    }
  ]
}
