---
import Server from '@components/ui/Server.astro';
import Net from '@components/ui/Net.astro';
import Wabutton from '@components/ui/Wabutton.astro';
---

<div class="relative overflow-hidden">
<Net />
<!-- Hero -->
<div class="relative mx-auto max-w-[85rem] px-4 py-35 sm:px-6 lg:px-8">
  <!-- Grid -->
  <div class="grid gap-4 md:grid-cols-2 md:items-center md:gap-8 xl:gap-20">
    <div>
      <h1
        class="block text-5xl font-bold text-(--color-ink-black-800) sm:text-4xl lg:text-6xl lg:leading-17 dark:text-white"
      >
        Mitra Teknologi<br />
        untuk
        <span class="text-(--color-fresh-sky-500) dark:text-(--color-fresh-sky-500)">
          Solusi Bisnis</span
        > Terintegrasi
      </h1>
      <p class="mt-8 dark:text-neutral-300">
        <strong class="dark:text-neutral-200">Alur Kriya</strong> menyediakan solusi teknologi strategis
        yang dirancang selaras dengan kebutuhan bisnis saat ini. Dari pengembangan sistem hingga pengelolaan
        infrastruktur IT, kami siap menjadi mitra tepercaya dalam mendorong efisiensi dan pertumbuhan
        bisnis Anda.
      </p>
      <!-- Buttons -->
      <Wabutton />
      <!-- End Buttons -->
    </div>
    <!-- End Col -->
    <Server />
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hero -->

</div>
