@import 'tailwindcss';
@import 'preline/variants.css';
@custom-variant dark (&:where(.dark, .dark *));

/* Plugins */
@plugin '@tailwindcss/forms';

@layer theme {

  :root,
  :host {
    --font-sans:
      ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;

    --color-fresh-sky-50: oklch(96.32% 0.022 230.54);
    --color-fresh-sky-100: oklch(93% 0.042 229.44);
    --color-fresh-sky-200: oklch(86.41% 0.083 230.61);
    --color-fresh-sky-300: oklch(80.39% 0.119 232.69);
    --color-fresh-sky-400: oklch(75.13% 0.148 236.31);
    --color-fresh-sky-500: oklch(70.72% 0.168 242.04);
    --color-fresh-sky-600: oklch(59.98% 0.141 241.55);
    --color-fresh-sky-700: oklch(48.74% 0.113 240.76);
    --color-fresh-sky-800: oklch(36.8% 0.083 239.21);
    --color-fresh-sky-900: oklch(23.78% 0.05 235);
    --color-fresh-sky-950: oklch(19.63% 0.04 231.93);

    --color-steel-blue-50: oklch(96.17% 0.02 233.85);
    --color-steel-blue-100: oklch(92.63% 0.041 233.35);
    --color-steel-blue-200: oklch(85.61% 0.079 234.08);
    --color-steel-blue-300: oklch(79.04% 0.116 236.06);
    --color-steel-blue-400: oklch(73.17% 0.147 239.39);
    --color-steel-blue-500: oklch(68.15% 0.17 244.8);
    --color-steel-blue-600: oklch(57.84% 0.142 244.3);
    --color-steel-blue-700: oklch(47.04% 0.113 243.49);
    --color-steel-blue-800: oklch(35.59% 0.082 241.94);
    --color-steel-blue-900: oklch(23.15% 0.05 238.45);
    --color-steel-blue-950: oklch(18.99% 0.039 236.94);

    --color-baltic-blue-50: oklch(96.52% 0.022 226.13);
    --color-baltic-blue-100: oklch(93.21% 0.042 227.18);
    --color-baltic-blue-200: oklch(86.84% 0.083 228.33);
    --color-baltic-blue-300: oklch(81.06% 0.118 230.4);
    --color-baltic-blue-400: oklch(75.81% 0.146 234.61);
    --color-baltic-blue-500: oklch(71.63% 0.165 240.23);
    --color-baltic-blue-600: oklch(60.69% 0.139 239.86);
    --color-baltic-blue-700: oklch(49.49% 0.111 238.48);
    --color-baltic-blue-800: oklch(37.34% 0.081 236.96);
    --color-baltic-blue-900: oklch(24.09% 0.05 232.82);
    --color-baltic-blue-950: oklch(19.63% 0.04 231.93);

    --color-deep-space-blue-50: oklch(96.32% 0.022 230.54);
    --color-deep-space-blue-100: oklch(92.59% 0.042 233.98);
    --color-deep-space-blue-200: oklch(85.77% 0.084 234.01);
    --color-deep-space-blue-300: oklch(79.28% 0.121 236.41);
    --color-deep-space-blue-400: oklch(73.54% 0.153 240.11);
    --color-deep-space-blue-500: oklch(68.69% 0.176 245.81);
    --color-deep-space-blue-600: oklch(58.33% 0.148 245.23);
    --color-deep-space-blue-700: oklch(47.49% 0.118 244.27);
    --color-deep-space-blue-800: oklch(35.99% 0.086 242.39);
    --color-deep-space-blue-900: oklch(23.17% 0.052 239.1);
    --color-deep-space-blue-950: oklch(19.31% 0.041 234.78);

    --color-ink-black-50: oklch(96.32% 0.016 233.02);
    --color-ink-black-100: oklch(92.81% 0.033 229.26);
    --color-ink-black-200: oklch(85.82% 0.063 229.51);
    --color-ink-black-300: oklch(79.07% 0.093 231.02);
    --color-ink-black-400: oklch(72.52% 0.12 234.17);
    --color-ink-black-500: oklch(66.74% 0.139 237.75);
    --color-ink-black-600: oklch(56.69% 0.118 237.82);
    --color-ink-black-700: oklch(46.38% 0.093 236.45);
    --color-ink-black-800: oklch(35.2% 0.067 235.32);
    --color-ink-black-900: oklch(23.08% 0.04 233.81);
    --color-ink-black-950: oklch(18.94% 0.031 231.55);

    --color-black: #000;
    --color-white: #fff;
    --spacing: 0.25rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
    --container-3xs: 16rem;
    --container-2xs: 18rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;
    --container-5xl: 64rem;
    --container-6xl: 72rem;
    --container-7xl: 80rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1/0.75);
    --text-sm: 0.875rem;
    --text-sm--line-height: calc(1.25/0.875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5/1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75/1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75/1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2/1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25/1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5/2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --text-9xl: 8rem;
    --text-9xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-4xl: 2rem;
    --drop-shadow-xl: 0 9px 7px #0000001a;
    --ease-in: cubic-bezier(0.4, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --animate-spin: spin 1s linear infinite;
    --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --blur-xs: 4px;
    --blur-md: 12px;
    --blur-lg: 16px;
    --blur-xl: 24px;
    --blur-3xl: 64px;
    --default-transition-duration: 0.15s;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --default-font-feature-settings: var(--font-sans--font-feature-settings);
    --default-font-variation-settings: var(--font-sans--font-variation-settings);
    --default-mono-font-family: var(--font-mono);
    --default-mono-font-feature-settings: var(--font-mono--font-feature-settings);
    --default-mono-font-variation-settings: var(--font-mono--font-variation-settings);
    --default-font-color: var(--color-ink-black-700);
    --columns: 14;
  }
}

@layer base {

  html,
  :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family);
    color: var(--default-font-color);
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

}