@import 'tailwindcss';
@import 'preline/variants.css';
@import './main.css';
@custom-variant dark (&:where(.dark, .dark *));

@source '../../node_modules/preline/dist/*.js';

/* Optional Preline UI Datepicker Plugin */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Plugins */
@plugin '@tailwindcss/forms';
