<!-- ========== FOOTER ========== -->
<footer class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
  <!-- Grid -->
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 mb-10">
    <div class="col-span-full hidden lg:col-span-1 lg:block">
      <a
        class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white"
        href="#"
        aria-label="Brand"
      >
        <svg
          class="text-black dark:text-gray-400"
          width="118.84"
          height="50"
          viewBox="0 0 60 25"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <g transform="matrix(1,0,0,1,-79.3751,-182.559)">
            <g transform="matrix(0.0913169,0,0,0.0913169,59.3959,141.278)">
              <path
                fill="currentColor"
                d="M322.605,588.33C322.128,588.33 321.67,588.14 321.332,587.803C320.995,587.465 320.805,587.007 320.805,586.53L320.805,453.87C320.805,453.393 320.995,452.935 321.332,452.597C321.67,452.26 322.128,452.07 322.605,452.07L342.63,452.07C343.107,452.07 343.565,452.26 343.903,452.597C344.24,452.935 344.43,453.393 344.43,453.87L344.43,586.53C344.43,587.007 344.24,587.465 343.903,587.803C343.565,588.14 343.107,588.33 342.63,588.33L322.605,588.33ZM424.395,576.446C422.125,580.486 418.997,583.659 415.013,585.968C409.808,588.983 403.74,590.49 396.81,590.49C389.19,590.49 382.598,588.81 377.033,585.45C371.468,582.09 367.208,577.403 364.253,571.388C361.298,565.373 359.82,558.375 359.82,550.395L359.82,492.3C359.82,491.823 360.01,491.365 360.347,491.027C360.685,490.69 361.143,490.5 361.62,490.5L381.645,490.5C382.122,490.5 382.58,490.69 382.918,491.027C383.255,491.365 383.445,491.823 383.445,492.3L383.445,548.37C383.445,552.45 384.27,556.035 385.92,559.125C387.57,562.215 389.903,564.615 392.918,566.325C395.933,568.035 399.36,568.89 403.2,568.89C407.13,568.89 410.588,568.028 413.573,566.303C416.558,564.578 418.883,562.14 420.548,558.99C422.213,555.84 423.045,552.15 423.045,547.92L423.045,492.3C423.045,491.823 423.235,491.365 423.572,491.027C423.91,490.69 424.368,490.5 424.845,490.5L444.87,490.5C445.864,490.5 446.67,491.306 446.67,492.3L446.67,586.53C446.67,587.007 446.48,587.465 446.143,587.803C445.805,588.14 445.347,588.33 444.87,588.33L426.195,588.33C425.718,588.33 425.26,588.14 424.922,587.803C424.585,587.465 424.395,587.007 424.395,586.53L424.395,576.446ZM462.06,584.629L462.06,492.3C462.06,491.306 462.866,490.5 463.86,490.5L482.535,490.5C483.529,490.5 484.335,491.306 484.335,492.3L484.335,504.113C486.493,499.333 489.433,495.853 493.155,493.673C498.045,490.808 503.88,489.375 510.66,489.375L514.71,489.375C515.704,489.375 516.51,490.181 516.51,491.175L516.51,508.5C516.51,509.494 515.704,510.3 514.71,510.3L508.05,510.3C501.36,510.3 495.96,512.348 491.85,516.443C487.74,520.538 485.685,526.32 485.685,533.79L485.685,559.88L462.06,584.629ZM485.685,591.137L485.685,627.23L522.233,588.969C522.573,588.613 523.043,588.412 523.535,588.412L548.007,588.412C548.721,588.412 549.367,588.834 549.655,589.488C549.942,590.142 549.815,590.904 549.332,591.43L515.925,627.787L551.082,683.481C551.432,684.036 551.453,684.737 551.136,685.311C550.82,685.885 550.216,686.242 549.56,686.242L526.819,686.242C526.2,686.242 525.625,685.924 525.296,685.401L498.444,642.741L485.685,656.476L485.685,684.442C485.685,685.436 484.879,686.242 483.885,686.242L463.86,686.242C463.383,686.242 462.925,686.052 462.587,685.715C462.25,685.377 462.06,684.919 462.06,684.442L462.06,615.886L485.685,591.137ZM589.025,602.025C591.183,597.245 594.123,593.765 597.845,591.585C602.735,588.72 608.57,587.287 615.35,587.287L619.4,587.287C620.394,587.287 621.2,588.093 621.2,589.087L621.2,606.412C621.2,607.406 620.394,608.212 619.4,608.212L612.74,608.212C606.05,608.212 600.65,610.26 596.54,614.355C592.43,618.45 590.375,624.232 590.375,631.702L590.375,684.442C590.375,685.436 589.569,686.242 588.575,686.242L568.55,686.242C567.556,686.242 566.75,685.436 566.75,684.442L566.75,590.212C566.75,589.218 567.556,588.412 568.55,588.412L587.225,588.412C588.219,588.412 589.025,589.218 589.025,590.212L589.025,602.025ZM638.39,686.242C637.396,686.242 636.59,685.436 636.59,684.442L636.59,590.212C636.59,589.218 637.396,588.412 638.39,588.412L658.415,588.412C659.409,588.412 660.215,589.218 660.215,590.212L660.215,684.442C660.215,685.436 659.409,686.242 658.415,686.242L638.39,686.242ZM713.444,686.251L675.731,590.874C675.512,590.32 675.581,589.693 675.917,589.2C676.252,588.707 676.809,588.412 677.405,588.412L698.89,588.412C699.641,588.412 700.312,588.877 700.576,589.58L725.447,655.903L750.28,589.581C750.543,588.878 751.215,588.412 751.966,588.412L773.54,588.412C774.136,588.412 774.694,588.707 775.029,589.2C775.364,589.693 775.433,590.32 775.214,590.874L733.573,696.187C731.113,702.397 728.075,707.737 724.46,712.207C720.845,716.677 716.66,720.067 711.905,722.377C707.15,724.687 701.728,725.842 695.638,725.842C692.998,725.842 690.418,725.625 687.898,725.19C685.82,724.831 683.915,724.283 682.184,723.547C681.529,723.261 681.106,722.615 681.106,721.901C681.103,718.72 681.103,709.763 681.103,705.546C681.103,705.004 681.347,704.491 681.768,704.149C682.188,703.807 682.74,703.673 683.271,703.784C684.315,703.997 685.459,704.202 686.705,704.4C688.88,704.745 690.928,704.917 692.848,704.917C698.278,704.917 702.238,703.687 704.728,701.227C707.218,698.767 709.378,695.497 711.208,691.417L713.444,686.251ZM847.195,675.93C845.928,677.299 844.585,678.561 843.168,679.717C839.673,682.567 835.713,684.727 831.288,686.197C826.863,687.667 821.965,688.402 816.595,688.402C809.755,688.402 803.8,687.255 798.73,684.96C793.66,682.665 789.745,679.41 786.985,675.195C784.225,670.98 782.845,666.007 782.845,660.277C782.845,654.877 784.06,650.062 786.49,645.832C788.92,641.602 792.663,638.047 797.718,635.167C802.773,632.287 809.11,630.247 816.73,629.047L845.845,624.297L845.845,621.082C845.845,616.852 844.218,613.342 840.963,610.552C837.708,607.762 833.35,606.367 827.89,606.367C822.82,606.367 818.358,607.725 814.503,610.44C811.14,612.807 808.56,615.82 806.761,619.477C806.555,619.906 806.186,620.236 805.736,620.392C805.286,620.549 804.793,620.52 804.364,620.312C800.662,618.523 791.792,614.212 788.254,612.493C787.398,612.077 787.013,611.067 787.376,610.187C789.283,605.687 792.084,601.728 795.783,598.312C799.908,594.502 804.805,591.54 810.475,589.425C816.145,587.31 822.265,586.252 828.835,586.252C836.815,586.252 843.873,587.722 850.008,590.662C856.143,593.602 860.92,597.682 864.34,602.902C867.76,608.122 869.47,614.182 869.47,621.082L869.47,684.442C869.47,685.436 868.664,686.242 867.67,686.242L848.995,686.242C848.518,686.242 848.06,686.052 847.722,685.715C847.385,685.377 847.195,684.919 847.195,684.442L847.195,675.93ZM845.845,642.241L821.185,646.552C816.565,647.392 813.108,648.87 810.813,650.985C808.518,653.1 807.37,655.927 807.37,659.467C807.37,662.797 808.653,665.467 811.218,667.477C813.783,669.487 817,670.492 820.87,670.492C825.85,670.492 830.215,669.42 833.965,667.275C837.715,665.13 840.633,662.22 842.718,658.545C844.803,654.87 845.845,650.812 845.845,646.372L845.845,642.241ZM283.14,578.018C281.873,579.387 280.53,580.649 279.112,581.805C275.617,584.655 271.657,586.815 267.232,588.285C262.807,589.755 257.91,590.49 252.54,590.49C245.7,590.49 239.745,589.343 234.675,587.048C229.605,584.753 225.69,581.498 222.93,577.283C220.17,573.068 218.79,568.095 218.79,562.365C218.79,556.965 220.005,552.15 222.435,547.92C224.865,543.69 228.607,540.135 233.662,537.255C238.717,534.375 245.055,532.335 252.675,531.135L281.79,526.385L281.79,523.17C281.79,518.94 280.162,515.43 276.907,512.64C273.652,509.85 269.295,508.455 263.835,508.455C258.765,508.455 254.302,509.813 250.447,512.528C247.085,514.895 244.505,517.908 242.706,521.565C242.5,521.994 242.131,522.324 241.681,522.48C241.231,522.637 240.738,522.608 240.309,522.4C236.607,520.611 227.737,516.3 224.199,514.581C223.343,514.165 222.958,513.155 223.321,512.275C225.228,507.775 228.029,503.816 231.727,500.4C235.852,496.59 240.75,493.628 246.42,491.513C252.09,489.398 258.21,488.34 264.78,488.34C272.76,488.34 279.817,489.81 285.952,492.75C292.087,495.69 296.865,499.77 300.285,504.99C303.705,510.21 305.415,516.27 305.415,523.17L305.415,586.53C305.415,587.524 304.609,588.33 303.615,588.33L284.94,588.33C284.463,588.33 284.005,588.14 283.667,587.803C283.33,587.465 283.14,587.007 283.14,586.53L283.14,578.018ZM281.79,544.329L257.13,548.64C252.51,549.48 249.052,550.958 246.757,553.073C244.462,555.188 243.315,558.015 243.315,561.555C243.315,564.885 244.597,567.555 247.162,569.565C249.727,571.575 252.945,572.58 256.815,572.58C261.795,572.58 266.16,571.508 269.91,569.363C273.66,567.218 276.577,564.308 278.662,560.633C280.747,556.958 281.79,552.9 281.79,548.46L281.79,544.329Z"
              ></path>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <!-- End Col -->

    <div>
      <h4 class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100">Product</h4>

      <div class="mt-3 grid space-y-3 text-sm">
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">ZISWAF Management System</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Changelog</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Docs</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Download</a
          >
        </p>
      </div>
    </div>
    <!-- End Col -->

    <div>
      <h4 class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100">Services</h4>

      <div class="mt-3 grid space-y-3 text-sm">
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">API Integrations</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Custom Development</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Data Analytics</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Data Migration</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">IT Consultancy</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Sitemap</a
          >
        </p>
      </div>
    </div>
    <!-- End Col -->

    <div>
      <h4 class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100">Resources</h4>

      <div class="mt-3 grid space-y-3 text-sm">
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Community</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Help & Support</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">eBook</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">What's New</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Status</a
          >
        </p>
      </div>
    </div>
    <!-- End Col -->

    <div>
      <h4 class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100">
        Perusahaan
      </h4>

      <div class="mt-3 grid space-y-3 text-sm">
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Tentang Kami</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Kontak Kami</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Artikel</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Sitemap</a
          >
        </p>
      </div>

      <h4 class="mt-7 text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100">
        Industries
      </h4>

      <div class="mt-3 grid space-y-3 text-sm">
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Financial Services</a
          >
        </p>
        <p>
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Education</a
          >
        </p>
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->

  <div class="pt-5 mt-5 border-t border-gray-200 dark:border-neutral-500">
    <div class="sm:flex sm:justify-between sm:items-center">
      <div class="flex flex-wrap items-center gap-3">
        <div class="space-x-4 text-sm">
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Persyaratan Layanan</a
          >
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">Kebijakan Privasi</a
          >
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#">PT Alur Kriya Teknologi © Hak Cipta 2025</a
          >
        </div>
      </div>

      <div class="flex flex-wrap justify-between items-center gap-3">
        <div class="mt-3 sm:hidden">
          <a
            class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white"
            href="#"
            aria-label="Brand">Brand</a
          >
          <p class="mt-1 text-xs sm:text-sm text-gray-600 dark:text-neutral-400">
            © 2025 Preline Labs.
          </p>
        </div>

        <!-- Social Brands -->
        <div class="space-x-4">
          <a
            class="inline-block text-gray-500 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#"
          >
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
              ></path>
            </svg>
          </a>
          <a
            class="inline-block text-gray-500 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#"
          >
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              ></path>
            </svg>
          </a>
          <a
            class="inline-block text-gray-500 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
            href="#"
          >
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"
              ></path>
            </svg>
          </a>
        </div>
        <!-- End Social Brands -->
      </div>
      <!-- End Col -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
