<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20 mx-auto">
  <!-- Snippets -->
  <div
    class="grid gap-6 text-base text-gray-600 sm:grid-cols-2 md:text-base lg:grid-cols-2 dark:text-neutral-400"
  >
    <p>
      Kami percaya bahwa merawat serta menjaga semua fasilitas penunjang bisnis Anda adalah kunci
      untuk menciptakan lingkungan yang sehat dan nyaman. Hal ini tidak hanya berimplikasi positif
      terhadap sumber daya manusianya, tetapi juga kepada produktivitas dan citra perusahaan. Oleh
      karena itu, kami berkomitmen untuk memberikan layanan yang terbaik.
    </p>
    <p>
      Dengan pengalaman yang luas dan tim profesional yang terlatih, kami siap membantu menjaga
      kebersihan dan kenyamanan fasilitas bisnis Anda. Kami menyediakan layanan <strong
        >preventive management</strong
      >, mulai dari pembersihan/perawatan rutin hingga perawatan khusus, Dengan menggunakan
      teknologi terbaru dan metode yang ramah lingkungan, kami berusaha untuk memberikan solusi
      terbaik.
    </p>
    <p>
      <strong>Ecofix</strong> memberikan solusi yang tepat dan efektif untuk setiap masalah Anda, sekaligus
      mencegah potensi kerusakan atau gangguan yang lebih serius di masa depan melalui layanan preventive
      management. Jangkauan layanan kami mencakup berbagai sektor seperti gedung perkantoran, pusat perbelanjaan,
      kawasan industri, hingga institusi komersial berskala besar.
    </p>
    <p>
      Komitmen kami memberikan transparansi dalam setiap layanan yang ditawarkan. Kami berikan
      estimasi yang jelas sebelum kami mulai bekerja, sehingga tidak ada biaya tersembunyi yang akan
      dikenakan. Kami juga menyediakan layanan darurat 24 jam 7 hari untuk menangani masalah
      mendesak yang memerlukan perhatian dan penanganan segera.
    </p>
  </div>
  <!-- End Snippets -->
</div>
