<!-- Icon Blocks -->
<div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20">
  <div class="mx-auto max-w-2xl pb-6 text-center lg:pb-16">
    <h2 class="text-3xl font-bold text-(--color-ink-black-800) lg:text-4xl dark:text-white">
      Our Services
    </h2>
    <p class="mt-3 dark:text-neutral-300">
      Rangkaian layanan teknologi informasi end-to-end untuk membantu perusahaan membangun,
      mengelola, dan mengoptimalkan sistem digital secara berkelanjutan.
    </p>
  </div>
  <div class="mx-auto max-w-5xl">
    <!-- Grid -->
    <div class="grid gap-6 md:grid-cols-2 lg:gap-12">
      <div class="space-y-6 lg:space-y-10">
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg
            class="mt-2 size-8 shrink-0 text-(--color-ink-black-800) dark:text-white"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M3 10V18C3 19.1046 3.89543 20 5 20H9M3 10V6C3 4.89543 3.89543 4 5 4H19C20.1046 4 21 4.89543 21 6V10M3 10H21M21 10V13"
            ></path>
            <path d="M15 16L13 18L15 20"></path>
            <path d="M19 16L21 18L19 20"></path>
          </svg>
          <div class="grow">
            <h3
              class="text-base font-semibold text-(--color-ink-black-800) sm:text-lg dark:text-neutral-200"
            >
              Website Development
            </h3>
            <p class="mt-1 dark:text-neutral-300">
              Website profesional, cepat, dan aman untuk meningkatkan citra dan performa bisnis
              Anda.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg
            class="mt-2 size-8 shrink-0 text-(--color-ink-black-800) dark:text-white"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
          <div class="grow">
            <h3
              class="text-base font-semibold text-(--color-ink-black-800) sm:text-lg dark:text-neutral-200"
            >
              IT Consulting
              <span
                class="inline-flex items-center gap-x-1 rounded-full bg-red-100 px-1.5 py-1 text-xs font-medium text-red-800 dark:bg-red-500/10 dark:text-red-500"
              >
                <svg
                  class="size-3 shrink-0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
                  ></path>
                  <path d="M12 9v4"></path>
                  <path d="M12 17h.01"></path>
                </svg>
                Gratis
              </span>
            </h3>
            <p class="mt-1 dark:text-neutral-300">
              Konsultasi IT strategis untuk optimasi sistem, efisiensi operasional, dan percepatan
              transformasi digital.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg
            class="mt-2 size-8 shrink-0 text-(--color-ink-black-800) dark:text-white"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
            <path d="M3 5v14a9 3 0 0 0 18 0V5"></path>
            <path d="M3 12a9 3 0 0 0 18 0"></path>
          </svg>
          <div class="grow">
            <h3
              class="text-base font-semibold text-(--color-ink-black-800) sm:text-lg dark:text-neutral-200"
            >
              Data & System Migration
            </h3>
            <p class="mt-1 dark:text-neutral-300">
              Layanan migrasi data aman dan minim downtime untuk mendukung kelancaran operasional
              perusahaan.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="space-y-6 lg:space-y-10">
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg
            class="mt-2 size-8 shrink-0 text-(--color-ink-black-800) dark:text-white"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"></path></svg
          >
          <div class="grow">
            <h3
              class="text-base font-semibold text-(--color-ink-black-800) sm:text-lg dark:text-neutral-200"
            >
              Cloud Hosting & Infrastructure
            </h3>
            <p class="mt-1 dark:text-neutral-300">
              Solusi cloud hosting scalable dan aman untuk meningkatkan fleksibilitas infrastruktur
              IT Anda.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg
            class="mt-2 size-8 shrink-0 text-(--color-ink-black-800) dark:text-white"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="m7.5 4.27 9 5.15"></path><path
              d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"
            ></path><path d="m3.3 7 8.7 5 8.7-5"></path><path d="M12 22V12"></path></svg
          >
          <div class="grow">
            <h3
              class="text-base font-semibold text-(--color-ink-black-800) sm:text-lg dark:text-neutral-200"
            >
              IT Procurement & Support
            </h3>
            <p class="mt-1 dark:text-neutral-300">
              Pengadaan perangkat IT terpercaya dengan proses efisien, transparan, dan sesuai
              kebutuhan bisnis.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg
            class="mt-2 size-8 shrink-0 text-(--color-ink-black-800) dark:text-white"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M7 10v12"></path><path
              d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"
            ></path></svg
          >
          <div class="grow">
            <h3
              class="text-base font-semibold text-(--color-ink-black-800) sm:text-lg dark:text-neutral-200"
            >
              SaaS Partners
            </h3>
            <p class="mt-1 dark:text-neutral-300">
              Solusi SaaS premium yang terintegrasi untuk mendukung produktivitas, keamanan, dan
              pertumbuhan bisnis.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End Icon Blocks -->
