---
import '@styles/global.css';
import NavigationBar from '@components/NavigationBar.astro';
import Footer from '@components/Footer.astro';
import Analytics from '@vercel/analytics/astro';
---

<!doctype html>
<html lang="id" class="light">
  <meta charset="UTF-8" />
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <script>
    import '@scripts/lenisSmoothScroll.js';
  </script>

  <body
    class="bg-(--color-deep-space-blue-50) dark:bg-(--color-deep-space-blue-900)"
    cz-shortcut-listen="true"
  >
    <Analytics />
    <NavigationBar />
    <main id="content">
      <slot />
    </main>
    <Footer />

    <!-- Preline UI -->
    <script>
      import 'preline/preline.js';
    </script>
  </body>
</html>
