---
import "../styles/global.css";
import Navbar from '@/components/Navbar.astro';
---

<!doctype html>
<html lang="id" class="light">
  

  <body class="min-h-300 bg-gray-100 dark:bg-neutral-700">
      <Navbar></Navbar>
    <main id="content" class="relative max-w-3xl px-4 sm:px-6 lg:px-8 flex flex-col justify-center sm:items-center mx-auto size-full before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples-dark/squared-bg-element.svg')] before:bg-no-repeat before:bg-top before:size-full before:-z-1 before:transform before:-translate-x-1/2">

    </main>
  </body>

  <!-- Preline UI -->
  <script is:inline src="./node_modules/preline/dist/index.js"></script>
</html>