---
import { Image } from 'astro:assets';
import imgClient from '@images/testimonials/miduk.png';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
---

<swiper-container
  slides-per-view="1"
  loop="true"
  autoplay-delay="3500"
  autoplay-disable-on-interaction="false"
>
  <swiper-slide>
    <div class="relative z-10">
      <p class="text-base text-gray-800 italic dark:text-white">
        " Tim sales 1 sangat responsif, jelas dalam menjelaskan solusi yang ditawarkan, serta
        fleksibel dalam penjadwalan sesuai dengan kebutuhan operasional pabrik kami. "
      </p>
    </div>

    <footer class="mt-6">
      <div class="flex items-center gap-x-4">
        <div class="shrink-0">
          {
            (
              <Image
                src={imgClient}
                alt="Miduk Lasman - PT. Modelez Indonesia Manufacturing"
                class="size-8 rounded-full"
                draggable="false"
                loading="lazy"
                format="avif"
              />
            )
          }
        </div>
        <div class="grow">
          <div class="font-semibold text-gray-800 dark:text-neutral-200">Miduk Lasman</div>
          <div class="text-xs text-gray-500 dark:text-neutral-500">
            Project Engineer & Automation Lead | PT. Mondelēz Indonesia Manufacturing
          </div>
        </div>
      </div>
    </footer>
  </swiper-slide>

  <swiper-slide>
    <div class="relative z-10">
      <p class="text-base text-gray-800 italic dark:text-white">
        " Tim sales 2 sangat responsif, jelas dalam menjelaskan solusi yang ditawarkan, serta
        fleksibel dalam penjadwalan sesuai dengan kebutuhan operasional pabrik kami. "
      </p>
    </div>

    <footer class="mt-6">
      <div class="flex items-center gap-x-4">
        <div class="shrink-0">
          {
            (
              <Image
                src={imgClient}
                alt="Miduk Lasman - PT. Modelez Indonesia Manufacturing"
                class="size-8 rounded-full"
                draggable="false"
                loading="lazy"
                format="avif"
              />
            )
          }
        </div>
        <div class="grow">
          <div class="font-semibold text-gray-800 dark:text-neutral-200">Miduk Lasman</div>
          <div class="text-xs text-gray-500 dark:text-neutral-500">
            Project Engineer & Automation Lead | PT. Mondelēz Indonesia Manufacturing
          </div>
        </div>
      </div>
    </footer>
  </swiper-slide>

  <swiper-slide>
    <div class="relative z-10">
      <p class="text-base text-gray-800 italic dark:text-white">
        " Tim sales 3 sangat responsif, jelas dalam menjelaskan solusi yang ditawarkan, serta
        fleksibel dalam penjadwalan sesuai dengan kebutuhan operasional pabrik kami. "
      </p>
    </div>

    <footer class="mt-6">
      <div class="flex items-center gap-x-4">
        <div class="shrink-0">
          {
            (
              <Image
                src={imgClient}
                alt="Miduk Lasman - PT. Modelez Indonesia Manufacturing"
                class="size-8 rounded-full"
                draggable="false"
                loading="lazy"
                format="avif"
              />
            )
          }
        </div>
        <div class="grow">
          <div class="font-semibold text-gray-800 dark:text-neutral-200">Miduk Lasman</div>
          <div class="text-xs text-gray-500 dark:text-neutral-500">
            Project Engineer & Automation Lead | PT. Mondelēz Indonesia Manufacturing
          </div>
        </div>
      </div>
    </footer>
  </swiper-slide>
</swiper-container>

<script>
  import { register } from 'swiper/element/bundle';
  register();
</script>
